*{
	padding: 0px;
	margin: 0px;
	outline: none;
    list-style:none;
  	font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #fff;
}

body{
	background: #151515;
	overflow: auto;
}

header{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #4CAF50;
	z-index: 100;
	box-shadow: 1px 1px 1px rgba(8, 34, 41, 0.75);
}

header #logo{
	font-size: 2.3em;
	text-transform: uppercase;
	position: relative;
	top: 10px;
	left: 0;
}

footer{
	width: 100%;
	height: 200px;
	background: #2c3e50;
	position: relative;
	bottom: 0;
	z-index: 100;
	box-shadow: 1px 1px 1px rgba(8, 34, 41, 0.75);
	display: none;
}

#overflow{
	width: 100%;
	background: rgba(6, 105, 48, 0.28);
	height: 100%;
	z-index: 10;
	position: fixed;
}

#bg{
	background-image: url(http://www.mulierchile.com/forest-hd-background/forest-hd-background-009.jpg);
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;
}

.align-h{
	width: 69%;
	position: relative;
	height: inherit;
	margin: 0px auto;
}

.inp-h{
	float: right;
	position: relative;
	right: 0;
	height: 30px;
	top: 15px;
	padding-left: 10px;
	border: none;
	margin-left: 10px;
	background: #fff;
	transition: 1s;
	border-radius: 20px;
	color: #000	;
}

.inp-h:hover{
	background: #45da84
}

.inp-h:focus{
	background: #45da84
}



.btn-h{
	float: right;
	right: 0;
	position: relative;
	border: none;
	height: 30px;
	top: 15px;
	width: 50px;
	left: 10px;
	background: #33734e;
	cursor: pointer;
	border-radius: 20px;
	transition: 1s;
}

#btn-h:hover{
	background: #43734e;
}


#frm_register{
	width: 450px;
	height: auto;
	padding-bottom: 20px;
	margin: 0px auto;
	top: 120px;
	position: relative;
	background: #4CAF50;
	border-radius: 3px;
	z-index: 10;
}

#frm_register h1{
	padding: 15px;
	font-size: 1.5em;
}

.inp-m{
	width: 95%;
	background: #fff;
	height: 30px;
	border: none;
	margin-top: 10px;
	font-size: 1em;
	padding-left: 10px;
	transition: 1s;
	border-radius: 20px;
	color: #000;
}

.btn-m{
	background: #33734e;
	cursor: pointer;
	border: none;
	width: 40%;
	height: 40px;
	position: relative;
	top: 10px;
	font-size: 1.4em;
	transition: 1s;
	border-radius: 20px;
}

.btn-m:hover{
	background: #43734e;
}

.inp-m:hover{
	background: #45da84;
}

.inp-m:focus{
	background: #45da84;
}


#cdt{
	width: 100%;
	height: auto;
	z-index: 20;
}

.site{
	width: 100%;
	height: 400px;
	background: #151515d1;
	position: relative;
	top: 150px;
}

#avatar{
	border-radius: 50%;
	width: 100%;
	position: relative;
	top: 90px;
	z-index: 20;
	height: 100%;
	border: 1px solid #4caf50;
}

.d-a{
	width: 150px;
	height: 150px;
}

.site h1{
	position: relative;
	top: 140px;
	z-index: 20;
}

#error{
	width: 100%;
	background: #af4c4c;
	height: auto;
	position: relative;
	top: 15px;
}

#error p{
	position: relative;
	font-size: 1.1em;
}

.all-b{
	position: relative;
	top: 80px;
}

.logot{
	position: relative;
	top: 120px;
	font-size: 80px;
	z-index: 10;
	text-shadow: 1px 2px 1px rgba(0,0,0,.50);
}

#errorlogin{
	position: relative;
	width: 400px;
	background: #af4c4c;
	height: auto;
	float: right;
	top: 60px;
	left: 0px;
	text-align: center;
	font-size: 18px;
	margin: 0px auto;
}